* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
:root {
  --products_bg: rgba(0, 0, 0, 0.795);
  --desc_color: rgb(202, 202, 202);
  --downInfo_color: rgb(250, 250, 250);
  --menu_color: rgb(173, 173, 173);
}

body {
  height: 100vh;
}

#header {
  border-bottom: 1px solid #b6b6b6;
  height: 8%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

#products_menu span {
  margin-right: 50px;
  color: var(--menu_color);
  cursor: pointer;
  position: relative;
  font-size: 1.3em;
}

#products_menu span::after {
  content: "";
  height: 0px;
  width: 0px;
  background-color: var(--products_bg);
  transition: all 0.2s ease;
  position: absolute;
  bottom: -5px;
  left: 0;
}

#products_menu span:hover::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--products_bg);
  border-radius: 5px;
}

#right_side {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  justify-self: center;
  gap: 30px;
}

#log_in {
  width: 140px;
  height: 45px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  border: 2px solid var(--menu_color);
  color: var(--products_bg);
  font-size: 1em;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#btn_box {
  margin-right: 50px;
}

#log_in:hover {
  background-color: var(--products_bg);
  border: none;
  color: rgb(255, 255, 255);
}

#search_container {
  height: 100%;
  width: 300px;
  position: relative;
  transition: all 0.2 ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#search_container #search_inp {
  padding: 5px;
  width: 90%;
  height: 40px;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  transform: translateX(250px);
  opacity: 0;
  pointer-events: none;
}

#search_container #search_inp:focus {
  border: 1px solid rgba(3, 3, 3, 0.664);
  outline: none;
}

#search_container #search_btn {
  transition: all 0.3s ease-in-out;
  color: var(--desc_color);
  font-size: x-large;
  font-size: 30px;
}

/* ----------------------------------------end of header */

#products_panel {
  width: 100%;
  height: 92%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#products_view {
  width: 95%;
  height: 95%;
  border: 1px solid #b6b6b6;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 50px;
  position: relative;
}

#trend_product {
  width: 25%;
  height: 95%;
  border-radius: 3%;
  padding: 20px;
  border: 1px solid #b6b6b6;
  text-align: center;
  position: relative;
}

#trend_product img {
  width: 85%;
  height: 70%;
  border-radius: 3%;

  transition: all 0.3s ease-in;
  object-fit: contain;
}

/* #trend_product img:hover {
  scale: 1.05;
  box-shadow: 0px 0px 0px 0px;
} */

/* #trend_product img:hover #trend_product {
  scale: 1.05;
} */

.info {
  border: 1px solid #8d8d8d80;
  border-radius: 8px;
  width: 90%;
  display: inline-block;
  height: 15%;
  padding: 20px;
  position: relative;
  bottom: -9%;
}

#trend_product h1 {
  color: var(--products_bg);
  text-align: center;
  font-weight: bolder;
}

#trend_product h3:nth-last-child(1) {
  color: var(--products_bg);
}

#trend_product h3 {
  position: absolute;
  bottom: 10px;
}

#trend_product h3:nth-last-child(1) {
  position: absolute;
  right: 25px;
  bottom: 10px;
}

#products_list {
  width: 80%;
  height: 95%;
  margin-left: 2%;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5%;
}

.products {
  width: 25%;
  height: 70%;
  border-radius: 3%;
  padding: 20px;
  border: 1px solid #b6b6b6;
  text-align: center;
  position: relative;
}

.products img {
  width: 85%;
  height: 70%;
  border-radius: 3%;
  box-shadow: 15px 15px 10px 3px rgb(139, 139, 139);
  transition: all 0.3s ease-in;
  object-fit: contain;
}

.products img:hover {
  scale: 1.05;
  box-shadow: 0px 0px 0px 0px;
}

.products h1 {
  color: var(--products_bg);
  text-align: center;
  font-weight: bolder;
  margin-top: -7%;
}

.products h3:nth-last-child(1) {
  color: var(--products_bg);
}

.products h3 {
  position: absolute;
  bottom: 10px;
}

.products h3:nth-last-child(1) {
  position: absolute;
  right: 25px;
  bottom: 10px;
}

#cart3 h3:nth-last-child(3) {
  color: red;
  text-decoration: line-through;
}

#cart3 h3:nth-last-child(2) {
  position: absolute;
  left: 25%;
}

#products_desc {
  padding: 10px;
  width: 60%;
  height: 12%;
  position: absolute;
  bottom: 12%;
  display: flex;
  align-items: center;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
}

#products_desc {
  font-size: large;
}
