* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --products_bg: rgba(0, 0, 0, 0.795);
  --desc_color: rgb(202, 202, 202);
  --downInfo_color: rgb(250, 250, 250);
  --menu_color: rgb(173, 173, 173);
}

body {
  height: 100vh;
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

#adminPanel {
  margin-top: 100px;
}
/* -----------------------------------media query---------------------------------- */
.discounted-price {
  text-decoration: line-through;
}

.hideDiscount {
  display: none;
}

.showDiscount {
  position: absolute;
  bottom: 7%;
  left: 22%;
  font-size: 0.9em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  #header {
    border-bottom: 1px solid #b6b6b6;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.63);
    z-index: 1000;
  }

  #products_menu {
    display: none;
  }

  #hamber_menu {
    font-size: 1.7em;
    cursor: pointer;
  }

  #tra_menu {
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.952);
    color: #ebebeb;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }

  #tra_menu span {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #b6b6b6;
    font-size: 1.4em;
    cursor: pointer;
  }

  #tra_menu span:nth-last-child(1) {
    border-bottom: 0px;
  }

  #tra_menu #cross {
    align-self: flex-start;
    margin: 20px 0px 0px 20px;
    font-size: 1.7em;
    cursor: pointer;
  }

  #right_side {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    padding: 5px;
  }

  #btn_box {
    width: 15%;
    height: 75%;
  }

  #log_in {
    display: none;
  }

  #small_login {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    border: 2px solid var(--menu_color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1.5em;
    color: rgb(49, 49, 49);
  }

  #small_login:hover {
    background-color: rgba(8, 8, 8, 0.815);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
  }

  #search_container {
    height: 100%;
    width: 70%;
    position: relative;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }

  #search_container #search_inp {
    padding: 5px;
    width: 100%;
    border: 1px solid #b6b6b6;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0;
    background-color: #ffffffcb;
  }

  input[type="search"]::-webkit-search-cancel-button {
    border: 2px solid rgba(90, 90, 90, 0.5);
    background-color: rgba(90, 90, 90, 0.5);
    padding: 2px;
    -webkit-appearance: none;
    height: 5px;
    width: 5px;
    border-radius: 50%;
  }

  #search_container #search_inp:focus {
    border: 2px solid rgba(3, 3, 3, 0.664);
    outline: none;
  }

  #search_container #search_btn {
    transition: all 0.3s ease-in-out;
    color: rgb(151, 150, 150);
    font-size: 1.6em;
    cursor: pointer;
  }

  /* ----------------------------------------end of header------------------------------ */

  #products_view {
    width: 100%;
    padding: 30px;
    position: relative;
    top: 50px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .products {
    padding: 10px;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px rgb(187, 187, 187);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
  }

  .products:hover {
    scale: 1.04;
  }

  .products img {
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s ease-in;
    object-fit: contain;
  }

  .info {
    background-color: rgba(221, 221, 221, 0.836);
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    display: inline-block;
    height: 50px;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0px;
  }

  .products h1 {
    color: var(--products_bg);
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    margin-top: -20px;
  }

  .products h3:nth-last-child(1) {
    color: var(--products_bg);
  }

  .products h3 {
    position: absolute;
    bottom: 7%;
    font-size: 0.9em;
  }

  .products h3:nth-last-child(1) {
    position: absolute;
    right: 20px;
  }

  #products_list {
    width: 100%;
    height: 95%;
    margin-left: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 1.5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  #hamber_menu {
    display: none;
  }

  #login_logo {
    display: none;
  }

  #header {
    border-bottom: 1px solid #b6b6b6;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.63);
    z-index: 1000;
  }

  #products_menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    gap: 12px;
    margin-left: -40px;
  }

  #products_menu span {
    color: var(--menu_color);
    cursor: pointer;
    font-size: 1.3em;
  }

  #products_menu span::after {
    content: "";
    height: 0px;
    width: 0px;
    background-color: var(--products_bg);
    transition: all 0.2s ease;
    position: absolute;
    bottom: -2px;
    left: 0;
  }

  #products_menu span:hover::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--products_bg);
    border-radius: 5px;
  }

  #right_side {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    justify-self: center;
    gap: 10px;
  }

  #log_in {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    border: 2px solid var(--menu_color);
    color: var(--products_bg);
    font-size: 1em;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }

  #btn_box {
    width: 35%;
    height: 35px;
    display: flex;
    align-items: center;
  }

  #log_in:hover {
    background-color: rgba(8, 8, 8, 0.815);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
  }

  #search_container {
    height: 100%;
    width: 400px;
    position: relative;
    transition: all 0.2 ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  #search_container #search_inp {
    padding: 5px;
    width: 100%;
    height: 30px;
    border: 1px solid #b6b6b6;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    margin-right: 10px;
  }

  #search_container #search_inp:focus {
    border: 1px solid rgba(3, 3, 3, 0.664);
    outline: none;
  }

  #search_container #search_btn {
    transition: all 0.3s ease-in-out;
    color: var(--desc_color);
    font-size: 1.6em;
    cursor: pointer;
  }

  /* ----------------------------------------end of header */

  #products_view {
    width: 100%;
    padding: 30px;
    position: relative;
    top: 50px;
    margin: 0px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .products {
    padding: 10px;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px rgb(187, 187, 187);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }

  .products:hover {
    scale: 1.04;
  }

  .products img {
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s ease-in;
    object-fit: contain;
  }

  .info {
    background-color: rgba(221, 221, 221, 0.836);
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    display: inline-block;
    height: 50px;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0px;
  }

  .products h1 {
    color: var(--products_bg);
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    margin-top: -20px;
  }

  .products h3:nth-last-child(1) {
    color: var(--products_bg);
  }

  .products h3 {
    position: absolute;
    bottom: 7%;
    font-size: 0.9em;
  }

  .products h3:nth-last-child(1) {
    position: absolute;
    right: 20px;
  }

  #tra_menu {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #products_view {
    grid-template-columns: repeat(3, 1fr);
  }

  #tra_menu {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #hamber_menu {
    display: none;
  }

  #login_logo {
    display: none;
  }

  #products_view {
    grid-template-columns: repeat(4, 1fr);
  }

  #tra_menu {
    display: none;
  }
}
